{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password - Master Error</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <h3>Forgot Password</h3>

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" id="email" required>

        <button type="submit">Reset Password</button>
        <p style="text-align: center; margin-top: 20px;">
            Remember your password? <a href="{{ url_for('login') }}" style="color: #23a2f6;">Login</a>
        </p>
    </form>
</body>
</html>
{% endblock %}