{% extends "base.html" %}
{% block content %}


  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="caption header-text">
            <h6>Master Error</h6>
            <div class="line-dec"></div>
            <h4>Dive <em>Into The Code</em> World <span>With Master Error</span></h4>
            <p> <a href="/">Home</a>, <a
                href="/about">About</a>, and <a href="/faqs">FAQ</a>.</p>
            <div class="main-button scroll-to-section"><a href="#services">Discover More</a></div>
           <!--<span>or</span>--> 
            <!--<div class="second-button"><a href="faqs.html">Check our FAQs</a></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h2>Master Error <em>Identify, understand, and resolve programming errors with ease</em> 
                  Whether you're a beginner or an experienced developer, Master Error is here to help.
                </h2>
                <div class="line-dec"></div>
                <h3><em>Why Choose Master Error?.</em></h3>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="static\images\services-01.jpg" alt="discover SEO" class="templatemo-feature">
                </div>
                <h4>Advanced Error Detection</h4>
                  
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="static\images\services-02.jpg" alt="data analysis" class="templatemo-feature">
                </div>
                <h4>Detailed Explanations</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="static\images\services-03.jpg" alt="precise data" class="templatemo-feature">
                </div>
                <h4>Multi-Language Support</h4>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<section>
  <div class="projects section" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Master Error <em>Code Editor</em></h2>
            <div class="line-dec"></div>
            <p><b><i>Master Error's code editor is designed to provide a seamless coding experience. With features like syntax highlighting, auto-completion, and real-time error detection, you can write and debug your code efficiently.</p>
            <p><b><i>Whether you're working on a small script or a large project, our code editor is equipped to handle it all. Plus, with support for multiple programming languages, you can switch between languages effortlessly.</p>
            <p><b><i>Experience the power of Master Error's code editor and take your coding skills to the next level.</p>
            <div class="col-lg-4 text-end">
              <div class="main-button">
                <a href="/executor" class="btn btn-primary btn-lg" style="position: relative; overflow: hidden;">
                  Let's Code
                  <span class="btn-hover-effect" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.2); transform: scale(0); transition: transform 0.3s ease; border-radius: inherit;"></span>
                </a>
              </div>
            </div>

            <script>
              const letsCodeButton = document.querySelector('.main-button a');

              if (letsCodeButton) {
                letsCodeButton.addEventListener('mouseover', function() {
                  const hoverEffect = this.querySelector('.btn-hover-effect');
                  if (hoverEffect) hoverEffect.style.transform = 'scale(1)';
                });

                letsCodeButton.addEventListener('mouseout', function() {
                  const hoverEffect = this.querySelector('.btn-hover-effect');
                  if (hoverEffect) hoverEffect.style.transform = 'scale(0)';
                });
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-us-content">
            <div class="row">
              <div class="col-lg-4">
                <!--<div id="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth"
                    width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;"
                    allowfullscreen=""></iframe>-->
                </div>
              </div>
              <div class="col-lg-8">
                <form id="contact-form" action="" method="post">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h2><em>Contact Us</em> &amp; Get In <span>Touch</span></h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="surname" name="surname" id="surname" placeholder="Your Surname..."
                          autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..."
                          required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="subject" name="subject" id="subject" placeholder="Subject..." autocomplete="on">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-phone"></i>
                        <h4><a href="#">7355995211 or 8840402886</a></h4>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-envelope"></i>
                        <h4><a href="#">mastererror@email.com</a></h4>
                        
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-map-marker"></i>
                        <h4><a href="#">Lucknow, Uttar Pradesh, India</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Master Error</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
